<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="../../autoload.php"
	colors="true"
>
    <testsuites>
        <testsuite name="SlackAPI">
            <directory suffix=".php">./tests/SlackAPI/</directory>
        </testsuite>
        <testsuite name="DeepLink">
        	<directory suffix=".php">./tests/DeepLink/</directory>
        </testsuite>
    </testsuites>
</phpunit>
